<!DOCTYPE html>
<html>
  <head>
    {{!-- <img src="https://banner2.cleanpng.com/20171216/db2/lightning-png-5a35c2bf3a7ad9.0708308915134727032395.jpg" alt="bg"> --}}
    <title></title>
    <link rel='stylesheet' href='/stylesheets/welcomestyle.css' />
    	<script src="/javascripts/index.js"></script>

  </head>
  <body>
    <header id="heading"><h1>{{title}}</h1></header>
    <div class="tab">
      <button class="btns" onclick="signin()" id="signin">Sign In</button>
      <button class="btns" id="signup" onclick="signup()">Sign Up</button>
    </div>
  </body>
</html>
